<!doctype html>
<html>
	<head>
        <title>Sound Test</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script src="/js/jquery-1.11.0.js" type="text/javascript"></script>
        <script src="/js/bootstrap.js" type="text/javascript"></script>
	    <script src="/js/volume-meter.js" type="text/javascript"></script>
        <script src="/js/main.js" type="text/javascript"></script>
        <link rel="stylesheet" href="css/hci-friends.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-theme.css">
	</head>	
	<body>
        {{>navbarsPartials}}
		
		<div class="container">
            <div style="padding-top: 20%;">
                <i class="fa fa-volume-up fa-5x"></i>
                <button type="button" class="btn btn-primary btn-lg" id="sound-test">Test Noise Level</button>
            </div>
            <div id="meter-div" hidden="hidden">
                <canvas id="meter" width="500" height="50"></canvas>
                <img style="width:5em" src="https://cdn1.iconfinder.com/data/icons/computer-hardware-4/512/audio_speakers-2-512.png"></img>
                <i class="fa fa-headphones fa-5x"></i>     
            </div>
         </div>
	</body>	
    <script type="text/javascript">
        $("nav div div:nth-child(2) ul li:nth-child(2)").addClass("active");
        $("nav div.container-fluid div.navbar-header").append("<a class='navbar-brand' style = 'font-family: Arial' href='#'>Sound Test</a>");
    </script>
</html>